@model Administrador_SAR.DBContext.Countries

@{
    ViewBag.Title = "Pais Info";
    ViewBag.SubTitle = "País";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box mb-30 p-2">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label class="label-control">Nombre</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.CountryId }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-dark" })
    </p>
</div>

