@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SubTitle = "Dashboard de Puesto de Trabajo";
    ViewBag.Title = "Página de Inicio";
}
<link href="~/src/styles/style2.css" rel="stylesheet" />

<div class="container">
    <div>
        <div>
            <div class="page-header">
                @using (Html.BeginForm())
                {

                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label for="CountryId">Seleccione un país</label>
                            @Html.DropDownList("CountryId", null, "Seleccione un país", htmlAttributes: new { @class = "form-control", @style = "text-transform: uppercase;" })
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="CountryId">Seleccione un puesto</label>
                            @Html.DropDownList("PositionId", null, "Seleccionar puesto de trabajo", htmlAttributes: new { @class = "form-control", @style = "text-transform: uppercase;" })
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label for="startDate">Desde</label>
                            <input type="date" class="form-control" name="startDate" id="startDate" value="" />
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="endDate">Hasta</label>
                            <input type="date" class="form-control" name="endDate" id="endDate" value="" />
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 p-2">
                            <input type="submit" value="Aplicar Filtros" class="btn btn-primary" id="buttonfilter" />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="col-md-12 col-md-6">
                @(Model)
            </div>
        </div>*@
    <div id='div_obj' style='min-width:100%;height:360px;'></div>
    <div id='div_obj2' style='min-width:100%;height:360px;'></div>
    <br>
</div>
@section Scripts{
    @*<script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>*@
    @*<script src="~/src/scripts/funciones.js"></script>*@
    <script src="~/Scripts/jchartfx/js/jchartfx.system.js"></script>
    <script src="~/Scripts/jchartfx/js/jchartfx.coreBasic.js"></script>
    <script src="~/Scripts/jchartfx/js/jchartfx.advanced.js"></script>
    <script src="~/Scripts/jchartfx/js/jchartfx.coreVector.js"></script>
    <script src="~/Scripts/jchartfx/js/jchartfx.coreVector3d.js"></script>
    <script type="text/javascript" language="javascript">
        $("#CountryId").change(function () {
            $.get("/Reports/GetWorkPlacesByCountry", { id: $("#CountryId").val() }, function (data) {
                // VACIAMOS EL DropDownList
                $("#WorkPlace").empty();
                // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                $("#WorkPlace").append("<option value> ----    VER TODO     ----</option>")
                // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                $.each(data, function (index, row) {
                    $("#WorkPlace").append("<option value='" + row.workPlaceId + "'>" + row.name + "</option>")
                });
            });
        });
    </script>
    <script>
        var chart1 = new cfx.Chart();
        PopulateCarProduction(chart1);
        var series0 = chart1.getSeries().getItem(0);
        series0.setGallery(cfx.Gallery.Bar);
        var series1 = chart1.getSeries().getItem(1);
        series1.setAxisY(chart1.getAxisY2());
        series1.setGallery(cfx.Gallery.Area);
        chart1.getAxisY2().getLabelsFormat().setDecimals(2);
        chart1.getAxisY2().getGrids().getMajor().setVisible(false);
        var titles = chart1.getTitles();
        var title = new cfx.TitleDockable();
        title.setText("REPORTES SAR POR PUESTOS DE TRABAJO");
        titles.add(title);
        var fields = chart1.getDataSourceSettings().getFields();
        var fieldStrength = new cfx.FieldMap();
        fieldStrength.setName("Reportes");
        fieldStrength.setUsage(cfx.FieldUsage.Value);
        fields.add(fieldStrength);

        var fieldPE = new cfx.FieldMap();
        fieldPE.setName("Porcentaje");
        fieldPE.setUsage(cfx.FieldUsage.Value);
        fields.add(fieldPE);

        var SymbolField = new cfx.FieldMap();
        SymbolField.setName("Key");
        SymbolField.setUsage(cfx.FieldUsage.Label);
        fields.add(SymbolField);
        chart1.create('div_obj');
        function PopulateCarProduction(chart1) {
            $.get("/Home/GetDataPosition", { pais: $("#CountryId").val(), obra: $("#WorkPlace").val(), desde: $("#startDate").val(), hasta: $("#endDate").val() }, function (data) {

                chart1.setDataSource(data.data);
            });
        }
    </script>
    <script>
        $(document).ready(function () {

            $("#buttonfilter").click(function () {
                event.preventDefault();

                $.get("/Home/GetDataPosition", { pais: $("#CountryId").val(), obra: $("#WorkPlace").val(), desde: $("#startDate").val(), hasta: $("#endDate").val() }, function (data) {

                    chart1.setDataSource(data.data);
                    chart2.setDataSource(data.data);
                });
            });
        });
    </script>

}

