@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SubTitle = "Dashboard de Situaciones de trabajo";
    ViewBag.Title = "Página de Inicio";
}
<link href="~/src/styles/style2.css" rel="stylesheet" />

<div class="container">
    <div>
        <div>
            <div class="page-header">
                @using (Html.BeginForm()) { 

                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label for="CountryId">Seleccione un país</label>
                            @Html.DropDownList("CountryId", null, "Seleccione un país", htmlAttributes: new { @class = "form-control", @style = "text-transform: uppercase;" })
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="CountryId">Seleccione una Situación</label>
                            @Html.DropDownList("WorkPlace", new List<SelectListItem>(), "Seleccionar Situación", htmlAttributes: new { @class = "form-control", @style = "text-transform: uppercase;" })
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label for="startDate">Desde</label>
                            <input type="date" class="form-control" name="startDate" id="startDate" value="" />
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="endDate">Hasta</label>
                            <input type="date" class="form-control" name="endDate" id="endDate" value="" />
                        </div>
                    </div>
                <div class="row text-center">
                    <div class="col-md-12 p-2">
                        <input type="submit" value="Aplicar Filtros" class="btn btn-primary" id="buttonfilter" />
                    </div>
                </div>
                }

            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-12 col-md-6">
            @(Model)
        </div>
    </div>*@
    <div id='div_obj' style='min-width:100%;height:360px;'></div>
    <div id='div_obj2' style='min-width:100%;height:360px;'></div>
    <br>
</div>
@section Scripts{
    @*<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>*@
    @*<script src="~/src/scripts/funciones.js"></script>*@
    <script src="~/Scripts/jchartfx/js/jchartfx.system.js"></script>
    <script src="~/Scripts/jchartfx/js/jchartfx.coreBasic.js"></script>
    <script src="~/Scripts/jchartfx/js/jchartfx.advanced.js"></script>
    <script  src="~/Scripts/jchartfx/js/jchartfx.coreVector.js"></script>
   <script  src="~/Scripts/jchartfx/js/jchartfx.coreVector3d.js"></script>
     <script type="text/javascript" language="javascript">
   var chart1;
   function loadChart() {
      // Replace this section with the code in the sample Javascript section
   }
   // If there are additional data population functions in the Javascript section, copy them here
   </script>
    <script>
        var chart1 = new cfx.Chart();
        var chart2 = new cfx.Chart();

        chart1.setGallery(cfx.Gallery.Bar);
        PopulateCarProduction(chart1);
        var titles = chart1.getTitles();
        var title = new cfx.TitleDockable();
        title.setText("REPORTES SAR POR OBRAS");
        titles.add(title);
        var series1 = chart1.getSeries().getItem(0);
        var series2 = chart1.getSeries().getItem(1);
        series1.setGallery(cfx.Gallery.Bar);
        series2.setGallery(cfx.Gallery.Lines);
        console.log(titles)
        chart1.create('div_obj');
        chart2.create('div_obj2');
        var items = [];
        function PopulateCarProduction(chart1) {
            $.get("/Home/GetData", function (data) {

                chart1.setDataSource(data.data);
                chart2.setDataSource(data.data);
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $.get("/Reports/GetWorkPlacesByCountry", { id: $("#CountryId").val() }, function (data) {                    
                    // VACIAMOS EL DropDownList
                    $("#WorkPlace").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                    $("#WorkPlace").append("<option value> -- Seleccionar Obra de " + $("#CountryId option:selected").text() + " --</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#WorkPlace").append("<option value='" + row.workPlaceId + "'>" + row.name + "</option>")
                    });
                });
            });

            $("#buttonfilter").click(function () {
                event.preventDefault();

                $.get("/Home/GetData1", function (data) {

                    chart1.setDataSource(data.data);
                    chart2.setDataSource(data.data);
                });
            });
        });
    </script>

}

