@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Página de Inicio";
}
<link href="~/src/styles/style2.css" rel="stylesheet" />
<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
        <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
    </div>
    <div class="header-right">
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img src="~/vendors/images/photo1.jpg" alt="">
                    </span>
                    <span class="user-name">César Martínez</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i>Perfil</a>
                    <a class="dropdown-item" href="profile.html"><i class="dw dw-settings2"></i>Configuraciones</a>
                    <a class="dropdown-item" href="/Home/CerrarSesion"><i class="dw dw-logout"></i>Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <div>
            <div class="page-header">
                @using (Html.BeginForm()) { 

                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label for="CountryId">Seleccione un país</label>
                            @Html.DropDownList("CountryId", null, "Seleccione un país", htmlAttributes: new { @class = "form-control", @style = "text-transform: uppercase;" })
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="CountryId">Seleccione una obra</label>
                            @Html.DropDownList("WorkPlace", new List<SelectListItem>(), "Seleccionar Obra", htmlAttributes: new { @class = "form-control", @style = "text-transform: uppercase;" })
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label for="startDate">Desde</label>
                            <input type="date" class="form-control" name="startDate" id="startDate" value="" />
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="endDate">Hasta</label>
                            <input type="date" class="form-control" name="endDate" id="endDate" value="" />
                        </div>
                    </div>
                <div class="row text-center">
                    <div class="col-md-12 p-2">
                        <input type="submit" value="Aplicar Filtros" class="btn btn-primary" id="buttonfilter" />
                    </div>
                </div>
                }

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-md-6">
            @(Model)
        </div>
    </div>
    <br>
</div>
@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="~/src/scripts/funciones.js"></script>
    <script>
        $(document).ready(function () {
            //let date = new Date()

            //let day = date.getDate()
            //let month = date.getMonth() + 1
            //let year = date.getFullYear()

            //if (month < 10) {
            //    $('input[name="startDate"]').val(`${year}-0${month}-${day}`);
            //    $('input[name="endDate"]').val(`${year}-0${month}-${day+1}`);
            //} else {
            //    $('input[name="startDate"]').val(`${year}-${month}-${day}`);
            //    $('input[name="endDate"]').val(`${year}-${month}-${day+1}`);
            //}
            $("#CountryId").change(function () {
                $.get("/Reports/GetWorkPlacesByCountry", { id: $("#CountryId").val() }, function (data) {
                    // VACIAMOS EL DropDownList
                    $("#WorkPlace").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                    $("#WorkPlace").append("<option value> -- Seleccionar Obra de " + $("#CountryId option:selected").text() + " --</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#WorkPlace").append("<option value='" + row.WorkPlaceId + "'>" + row.Name + "</option>")
                    });
                });
            });
        });
    </script>

}

